.timezones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;

  > * {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  > * + * {
    margin-top: 1rem;
  }

  &__item {
    border: 1px dotted;
    padding: get-size(700);
    line-height: 1.1;

    // Span across 2(ish) columns
    &[data-current] {
      grid-column: 1/-2;
      color: var(--color-bg);
      background: var(--color-text);
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 8ch 1fr;
    line-height: 1.1;
    grid-row-gap: 0.5rem;

    [aria-hidden] {
      text-shadow: 1px 1px 0;
      filter: grayscale(1);
    }
  }

  &__count {
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
  }
}

@supports (display: grid) {
  .timezones > * {
    max-width: unset;
    margin: 0;
  }
}
