<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Global Time</title>
    <link rel="stylesheet" href="/css/global.css" />
    <meta name="monetization" content="$coil.xrptipbot.com/c1f8f05d-8d8c-4f37-b1ad-25677ae129da" />
  </head>
  <body class="[ wrapper ] [ pad-top-900 pad-bottom-900 ]">
    <header role="banner" class="site-head">
      <h1>Global date and time</h1>
      <p class="text-500">
        The date and time in your current timezone and in other major timezones.
      </p>
      <theme-toggle></theme-toggle>
    </header>
    <main aria-live="polite" id="main-content" class="gap-top-900 gap-bottom-900">
      <ul class="timezones" v-if="items.length">
        <li class="[ timezones__item ] [ sf-flow ]" :data-current="item.isCurrent" v-for="item in items">
          <p class="weight-bold" :class="{ 'text-700 md:text-800': item.isCurrent, 'text-600': !item.isCurrent }">{{item.name}}</p>
          <dl class="[ timezones__details ] [ text-500 ]">
            <dt class="weight-bold"><span aria-hidden="true">📅 </span>Date:</dt>
            <dd>{{item.dateString}}</dd>
            <dt class="weight-bold"><span aria-hidden="true">⏰ </span>Time:</dt>
            <dd><span class="timezones__count">{{item.timeString}}</span></dd>
          </dl>
        </li>
      </ul>
      <p class="note" v-else>
        Because this thing generates the live date and time, it has to use JavaScript to work. Go ahead
        and enable it, if you can.
      </p>
    </main>
    <footer role="contentinfo" class="[ site-foot ] [ pad-bottom-900 ]">
      A little hack project by <a href="//twitter.com/hankchizljaw">Andy Bell</a>.
    </footer>
    <script src="/js/global.js" type="module" async defer></script>
    <script src="/js/components/theme-toggle.js" type="module" async defer></script>
  </body>
</html>
